.nav {
    $this: &;
    padding-top: rem(30);
    width: rem(1460);
    max-width: 93%;
    margin: 0 auto;

    @include breakpoint(desktopXs) {
        max-width: 100%;
        padding: rem(30) rem(50);
    }

    @include breakpoint(tablet) {
        align-items: flex-start;
    }

    @include breakpoint(mobile) {
        padding: rem(30);
    }

    &.active {
        .nav__burger {
            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    &__menu-wrapper {
        align-items: flex-end;
    }

    &__menu {
        margin-left: rem(70);

        @include breakpoint(tablet) {
            display: none;
        }
    }

    &__item {
        margin-right: rem(45);
        padding: rem(10) 0;
        position: relative;

        &:hover {
            > .nav__link {
                color: $black;

                &::after {
                    filter: brightness(0);
                }
            }
        }

        &--dropdown {
            > .nav__link {
                position: relative;

                &::after {
                    content: url('../images/icon-arrow-down.svg');
                    display: inline-block;
                    margin-left: 5px;
                    margin-bottom: 4px;
                    transition: 0.3s ease;
                }
            }

            &:hover {
                .nav__link::after {
                    transform: rotate(180deg);
                }

                .nav__dropdown {
                    opacity: 1;
                    transform: translateY(100%);
                    pointer-events: all;
                }
            }
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        font-family: $mainFont;
        color: $gray;
        font-size: rem(16);
        text-decoration: none;
        transition: color 0.3s ease;
        white-space: nowrap;
    }

    &__dropdown {
        // display: none;
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(110%);
        background-color: #fff;
        padding: rem(24);
        border-radius: rem(12);
        box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1);
        pointer-events: none;
        transition: 0.3s ease;

        &.with-icons {
            left: unset;
            right: 0;
        }

        .nav__item {
            padding: 0;
            margin: 0;

            &:not(:last-child) {
                padding-bottom: rem(10);
            }
        }

        .nav__link {
            font-size: rem(12);
        }
    }

    &__icon-wrap {
        width: rem(40);
    }

    &__buttons {
        @include breakpoint(tablet) {
            display: none;
        }
    }

    .button {
        @extend .nav__link;
        transition: 0.3s ease;

        &:hover {
            color: $black;
        }
    }

    &__navicon {
        display: none;

        @include breakpoint(tablet) {
            display: block;
        }
    }

    &__burger {
        display: block;
        width: em(45);
        height: em(3);
        background-color: $black;
        transition: 0.3s ease;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &:first-child {
            transform-origin: 15px -5px;
        }

        &:last-child {
            transform-origin: 1px 2px;
        }
    }
}
