html {
    overflow-x: hidden;

    @include breakpoint(desktop) {
        font-size: 14px;
    }
}

body {
    background-color: $white;
    font-family: $mainFont;
    position: relative;
    overflow-x: hidden;
}

.button {
    color: $gray;
    padding: rem(10) rem(20);
    border-radius: rem(12);
    border: 2px solid $gray;
    background-color: transparent;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
        color: $black;
        border-color: $black;
    }

    &--secondary {
        color: $white;
        background-color: $black;
        border-color: transparent;
        border-width: 1px;
        font-weight: 700;

        &:hover {
            background-color: transparent;
        }
    }
}

.attribution {
    font-family: $mainFont;
    font-size: rem(12);
    text-align: center;
    padding: 20px 10px;
    color: $gray;
    background-color: rgba(0, 0, 0, 0.03);

    a {
        color: $gray;
    }
}
